@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;1,200&display=swap');

* {
  font-family: 'Poppins', sans-serif;
}

/* global configs */
.page-wrapper {
  height: 100vh !important;
  width: 100vw !important;
  display: flex;
  flex-direction: column;
}

.nav-reserved {
  height: 58px !important;
}


/* components */
.whatsappBtn {
  background-color: #25D366;
  color: #fff;
}

.whatsappBtn:hover {
  color: #fff;
  background-color: #1daa51;
}

.socials ul li a:hover {
  color: #3b5998 !important;
}

.socials ul li a span:hover {
  border-bottom: 1px solid #3b5998;
}

.card {
  width: 100%;
}

.fp-tooltip {
  font-size: 13px !important;
  color: #222 !important;
  background-color: #fff;
  border-radius: 15px;
  padding: 0 5px;
  border: 1px solid #000;
}


/* navbar */
.navbar {
  /* background-color: rgba(0, 0, 0, 0.7); */
  background-color: #000;
  box-shadow: 1px 1px 16px 8px rgba(0,0,0,0.61);
  -webkit-box-shadow: 1px 1px 16px 8px rgba(0,0,0,0.61);
  -moz-box-shadow: 1px 1px 16px 8px rgba(0,0,0,0.61);
}

.nav-item:hover .nav-link span {
  color: #fff;
}

li.active span.ifactive {
  color: #fff !important;
}

#fp-nav ul li a span, .fp-slidesNav ul li a span {
  background-color: #222;
  height: 5px;
  width: 5px;
  border: 1px solid #fff;
}

/* * pedidos */
.content-wrapper-pedido, .pedido-desktop, .pedido-mobile {
  height: 100%;
  width: auto;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.card-img-mobile {
  width: 180px !important;
  height: auto !important;
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  border-top-left-radius: .3rem !important;
  border-bottom-left-radius: .3rem !important;
}

.card {
  border: 0 !important;
}

.card1-img {
  background-image: url('../assets/1.webp');
}

.card2-img {
  background-image: url('../assets/2.webp');
}

.card3-img {
  background-image: url('../assets/3.webp');
}

.card4-img {
  background-image: url('../assets/4.webp');
}


/* galeria */
.grid-container {
  height: 100%;
  width: 100%;
  display: grid;
  grid-template-columns: repeat(6, 1fr);
  grid-template-rows: repeat(8, 1fr);
  gap: 10px;
}

.gallery-img {
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
}

.img11 {
  grid-column: 6 / span 1;
  grid-row: 6 / span 3;
  background-image: url('https://i.ibb.co/q1ND44p/img11.jpg');
}

.img10 {
  grid-column: 5 / span 1;
  grid-row: 6 / span 3;
  background-image: url('https://i.ibb.co/RSZ9F0W/img10.jpg');
}

.img9 {
  grid-column: 1 / span 3;
  grid-row: 7 / span 2;
  background-image: url('https://i.ibb.co/vZbJ8Kn/img9.jpg');
}

.img8 {
  grid-column: 4 / span 1;
  grid-row: 5 / span 4;
  background-image: url('https://i.ibb.co/Fs8c3Vz/img8.jpg');
}

.img7 {
  grid-column: 3 / span 1;
  grid-row: 5 / span 2;
  background-image: url('https://i.ibb.co/W6C14jL/img7.jpg');
}

.img6 {
  grid-column: 1 / span 2;
  grid-row: 5 / span 2;
  background-image: url('https://i.ibb.co/qCz54g0/img6.jpg');
}

.img5 {
  grid-column: 5 / span 2;
  grid-row: 4 / span 2;
  background-image: url('https://i.ibb.co/DYJgy9V/img5.jpg');
}

.img4 {
  grid-column: 3 / span 2;
  grid-row: 3 / span 2;
  background-image: url('https://i.ibb.co/34fvng4/img4.jpg');
}

.img3 {
  grid-column: 5 / span 2;
  grid-row: 1 / span 3;
  background-image: url('https://i.ibb.co/nrGH1qC/img3.jpg');
}

.img2 {
  grid-column: 3 / span 2;
  grid-row: 1 / span 2;
  background-image: url('https://i.ibb.co/8YCqSYk/img2.jpg');
}

.img1 {
  grid-column: 1 / span 2;
  grid-row: 1 / span 4;
  background-image: url('https://i.ibb.co/BcR03CJ/img1.jpg');
}

