@import url('https://fonts.googleapis.com/css2?family=Lexend:wght@100;300;400;500&display=swap');

* {
  font-family: 'Lexend', sans-serif;
}


/* * navbar */
.navbar {
  opacity: 0.9;
}

.fp-tooltip {
  color: #222 !important;
}

li.active span.ifactive {
  color: #ffffff !important;
  border-bottom: 1px solid #fff;
}

.section {
  margin-top: 56px !important;
}

/* * section 1 */
.logoS1 {
  width: 26rem;
  height: auto;
}

.socialsLinks {
  height: 100%;
}

.socials {
  text-decoration: none;
  color: #222;
}

/* ! media queries */

@media (max-width: 600px) {
  .section1 {
    margin-left: 30px;
    margin-right: 30px;
  }
}

@media (min-width: 768px) and (max-width: 992px) {
  .section {
    margin-top: 64px !important;
  }
}

@media (min-width: 768px) {
  .socialsLinks {
    display: flex;
    justify-content: center;
  }
}